{{!-- navbar --}}
<nav class="navbar navbar-dark bg-dark">
    <form action='history' method='get'>
        <button type='submit' class="btn btn-outline-light my-2 my-sm-0 btn-signin">History</button>
    </form>
    <a class="navbar-brand" href="#"></a>
    <form action="add" method='get'>
        <button type='submit' class="btn btn-outline-light my-2 my-sm-0 btn-signin ">Add Topic
        </button>
    </form>
</nav>

{{!-- jumbotron --}}
<div class="jumbotron jumbotron-fluid" style="background-color: #401f68; font-family: 'Source Serif Pro', serif;">
  <div class="container">
    <h1 class="display-4" style="color: white">Welcome to Fist-Of-Five!</h1>
    <hr style="background-color: white;">
    <p class="lead" style="color: white;">Click a <em>hand</em> to rate a topic or click <em>"Add Topic"</em> to start a new topic</p>
  </div>
</div>

{{!-- body containing the main cards --}}
<section class="container dashboard wrapper">
    <div class="row">
        <div class="col">
            <div class="col-12">
                {{#each fist5}}
                    <div class="card text-center">
                        <div class="card-header" style="background-color: #836EAA; padding: 15px; font-family:'Playfair Display', serif; font-size: 30px; color: white;">
                        {{this.topic}} 
                        </div>  
                        <div style="font-family:'Source Serif Pro', serif;; font-size: 24px"># Votes: {{this.count}}
                        </div>
                        <br>
                        <div class="card-body" style="box-shadow: 10px 10px 5px grey">
                            <form action='/' method='post'>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-link" id="0" name="count" value="{{this.id}}.f0">
                                        <img src="images/hand_0.jpg" width="50" height="60">
                                    </button>                                    
                                    <button type="submit" class="btn btn-link" id="f1" name="count" value="{{this.id}}.f1">
                                        <img src="images/hand_1.jpg" width="50" height="66">
                                    </button>
                                    <button type="submit" class="btn btn-link" id="f2" name="count" value="{{this.id}}.f2">
                                        <img src="images/hand_2.jpg" width="50">                                        
                                    </button>
                                    <button type="submit" class="btn btn-link" id="f3" name="count" value="{{this.id}}.f3">
                                        <img src="images/hand_3.jpg" width="50">                                        
                                    </button>
                                    <button type="submit" class="btn btn-link" id="f4" name="count" value="{{this.id}}.f4">
                                        <img src="images/hand_4.jpg" width="50">                                        
                                    </button>
                                    <button type="submit" class="btn btn-link" id="f5" name="count" value="{{this.id}}.f5">
                                        <img src="images/hand_5.jpg" width="60" height="65">                                        
                                    </button>
                                </div>
                            </form>

                            {{!-- progress bar --}}
                            <div class="progress" style="height: 30px; width: 40%; margin: auto;">
                                <div class="progress-bar" role="progressbar" style="width: {{this.fpct}}%; background-color: #401f68" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{this.favg}}</div>
                            </div>
                            <br>
                            <strong>Topic Started: </strong>{{this.createdAt}}
                        </div>
                    </div>
                    <br><br>
                {{/each}}
            </div>
        </div>             
    </div>
</section>

